/* NAVBAR STYLING */
.navbar {
  background: rgba(46, 46, 46, 0.7) !important;
  font-family: 'Kalam', cursive;
}
.darker-nav {
  background: rgba(46, 46, 46, 0.87) !important;
}
.logo {
  font-size: 2.5em;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.87) !important;
}
.nav-item {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-align: center;
}
.active {
  background-color: rgba(109, 105, 105, 0.5);
  border-radius: 5px;
}
